hrml{
    max-width: 970px;
    margin: auto;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
}
.ours__block{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    border: 2px solid #888888;
    border-radius: 30px;
    font-size: 1.5rem;
}
.ours__block img{
    width:250px;
    height: 200px;
}
#ours__container{
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.templateTeddy{
    display: flex;
}