*{
    font-family: "Apple Chancery";

}
#main{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;

}
a{
    text-decoration: none;
    color: inherit;
}
a:visited{
    color: inherit;
}
h1{
    text-align: center;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-size: 1.3rem;
}
#ours__block{
    border: 1px solid black;
    margin: auto;
    border-radius: 35px;
    margin-bottom: 20px;
    transition: ease 350ms;

}
#ours__block:hover{
    transform: scale(0.8);

}
#ours__nom{
    font-size: 1.2rem;
}
#ours__image{
    max-width: 80%;
    max-height: 30vh;
    height: 25vh;
    border-radius: 10px;

}
#ours__prix{
    font-weight: 800;
    font-size: 1.1rem;
}
